/********************
* FEATURE CAROUSEL *
********************/
.carousel-container {
    position: relative;
    padding: 0 40px;
    margin: -20px auto 0 auto;
    width: 630px;
    right: -105px;
}

#carousel {
    height: 460px;
    width: 570px;
    position: relative;
    margin: 0 auto 20px auto;
    font-size: 12px;
}

.carousel-image {
    border: 0;
    display: block;
    border-bottom: 1px solid #6e7074;
    max-height: 180px;
}

.carousel-feature {
    position: absolute;
    top: -1000px;
    left: -1000px;
    cursor: pointer;
}

.carousel-feature .carousel-caption {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    background: none;
    opacity: 0.8;;
    z-index: 2;
    text-align: center;
    font-style: italic;
}

.carousel-feature .carousel-caption a {
    margin: 0 -200px;
    padding: 0;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.carousel-feature .carousel-caption span {
    display: block;
    background-image: url("../images/opacity.png");
    color: #ffffff;
    width: 100%;
    padding: 5px 10px 5px 10px;
}
.ie6 .carousel-feature .carousel-caption a,
.ie7 .carousel-feature .carousel-caption a,
.ie8 .carousel-feature .carousel-caption a {
    margin: 0;
}

.tracker-summation-container {
    display: none;
}

.tracker-individual-container {
    padding: 0;
    margin: 0;
}

.tracker-individual-container li {
    list-style: none;
}

.tracker-individual-container .tracker-individual-blip {
    height: 33px;
    position: relative;
}

.blip-shadow {
    position: absolute;
    bottom: -6px;
    left: 6px;
    overflow: hidden;
    width: 12px;
    height: 6px;
    -webkit-border-radius: 6px/3px;
    -moz-border-radius: 6px/3px;
    border-radius: 6px/3px;
}

.tracker-individual-container .object-mark-selected {
    z-index: 10;
}

/*.tracker-individual-container .tracker-individual-blip-selected {}
.blue-obj .tracker-individual-container .tracker-individual-blip-selected {
	-moz-box-shadow: 0 33px 15px #00aaf1;
	-webkit-box-shadow: 0 33px 15px #00aaf1;
	box-shadow: 0 33px 15px #00aaf1;
}
.red-obj .tracker-individual-container .tracker-individual-blip-selected {
	-moz-box-shadow: 0 33px 15px #970000;
	-webkit-box-shadow: 0 33px 15px #970000;
	box-shadow: 0 33px 15px #970000;
}
.yellow-obj .tracker-individual-container .tracker-individual-blip-selected {
	-moz-box-shadow: 0 33px 15px #f7941d;
	-webkit-box-shadow: 0 33px 15px #f7941d;
	box-shadow: 0 33px 15px #f7941d;
}*/
#carousel-left {
    position: absolute;
    top: 100px;
    right: 0;
    cursor: pointer;
    width: 32px;
    height: 59px;
    background: transparent url(../images/slider-arrows.png) -32px 0 no-repeat;
    z-index: 80;
}

#carousel-right {
    position: absolute;
    top: 100px;
    left: 0;
    cursor: pointer;
    width: 32px;
    height: 59px;
    background: transparent url(../images/slider-arrows.png) 0 0 no-repeat;
    z-index: 80;
}
