html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    height: 100%;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    height: 100%;
}
a {
    color: #1876bb;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
    max-width: 100%;
}
input {
    vertical-align: middle;
}
.clear{
    clear: both;
}
body{
    min-width: 960px;
    background-color: #020202;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 13px;
    color: #a6adae;
    /*background-image: url("../images/bishkek.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background: url("../images/bishkek.jpg") no-repeat scroll 50% 0 #020202;*/
}
body.page {
    background-color: #ffffff;
    color: #333333;
}
.wrapper {
    min-width: 960px;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.wrapper_home {
    min-width: 1024px;
    overflow: hidden;
    background: url("../images/bishkek.jpg") no-repeat scroll 75% 4% #020202;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    float: left;
    height: 256px;
    width: 100%;
    position: relative;
    z-index: 10;
}
.page .header {
    z-index: 2000;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    float: left;
    width: 100%;
    padding: 0;
    height: 1%;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #555555;
    background-image: url("../images/footer-building.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}
.page .middle {
    background-image: url("../images/footer-building-page.png");
    z-index: 0;
}
.middle:after {
    content: '';
    clear: both;
    display: table;
}
.container {
    width: 100%;
    float: left;
}
.content {
    padding: 0 0 0 180px;
}
.page .content {
    width: auto;
    min-width: 920px;
}
.page .container {
    overflow: hidden;
    padding-bottom: 40px;
}
.spec {
    float: right;
    width: 1174px;
    padding: 0;
    z-index: 0;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
.sideLeft {
    float: left;
    width: 305px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: -100%;
    position: relative;
    z-index: 100;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
    height: 180px;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    z-index: 10;
}

.languages {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    z-index: 1000;
}
.languages ul, .languages ul li {float: left;}
.languages ul li {margin-left: 25px;}
.languages .slogan_text {
	font-size: 20px;
	display: block;
	float: left;
	margin-left: 240px;
	margin-bottom: 15px;
}

.hdr_contacts {
    float: left;
    position: relative;
    width: 305px;
    height: 260px;
    margin-top: -40px;
    margin-right: 25px;
    background-image: url("../images/header-building.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}
.page .hdr_contacts {
    background-image: url("../images/header-building-page.png");
}
.hdr_contacts .phone {
    font-size: 42px;
    font-weight: normal;
    display: block;
    float: right;
    color: #E9A457;
  margin-left: 0;
  width: 250px;
}
.hdr_contacts .phone .phone_item {
  display: block;
  float: right;
  margin-bottom: 10px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
  width: 230px;
  border-bottom: 1px dotted #E9A457;
}
.hdr_contacts .phone .phone_item.phone_item_last {
  border-bottom: 0px solid white;
}
.page .hdr_contacts .phone {
    color: #894c08;
}
.page .hdr_contacts .phone .phone_item {
  border-bottom: 1px dotted #894c08;
}
.page .hdr_contacts .phone .phone_item.phone_item_last {
  border-bottom: 0px solid white;
}
.hdr_contacts .phone_code {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-top: -3px;
    margin-right: 0;
  width: 65px;
}
.hdr_contacts .phone_number {float: left;margin-top: 5px;}

#header-menu{
    background: #32235d  url("../images/header-menu-bg.png");
    width: 70%;
    min-width: 400px;
    max-width: 921px;
    float: left;
    margin-top: 8px;
    height: 51px;
    /*padding: 16px 0 13px 15px;*/
    position: relative;
    z-index: 2000;

}
#header-menu a{
    color: #d9d9d9;
    font-size: 18px;
}

#header-menu ul {
    margin:16px 0 13px 15px;
}

#header-menu ul li{
    display: inline-block;
    margin-right: 28px;
    float: left;
}

.delimiter {
    float: left;
    width: 100%;
    margin-top: 55px;
    padding-top: 10px;
    border-top: 1px dotted #E9A457;
}
.page .delimiter {
    border-top: 1px dotted #894c08;
}
.sideLeft .delimiter {margin-top: 25px;}
.hdr_contacts .mail {
    position: relative;
    display: block;
    float: left;
    width: 20px;
    height: 11px;
    margin-right: 0;
    margin-left: 25px;
}
.logo_container {
    float: left;
}
.hdr_info {
    float: right;
    position: relative;
    width: 285px;
}
.hdr_info p {
    font-style: italic;
    line-height: 20px;
}
.main_menu ul li{
    float: left;
    width: 275px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 25px;
}
.main_menu a{
    color: #e9a457;
    text-transform: uppercase;
}
.main_menu ul li.active {
    margin-bottom: 8px;
}
.main_menu ul li.active ul li {
    margin-top: 8px;
    margin-bottom: 8px;
}
.main_menu ul li.active ul li:first-child {
    margin-top: 18px;
}

.main_menu ul li.active span {
    color: #281655;
    text-transform: uppercase;
}

.main_menu ul li.active a {
    text-transform: none;
    color: #33312c;
    padding: 0 0 0 11px;
    display: block;
}

.main_menu ul li.active a.active {
    color: #281655;
    text-transform: uppercase;
    padding: 0;
}

.main_menu ul li .sub-menu li span {
    text-transform: none;
    padding: 5px 11px 5px 11px;
    background-color: #281655;
    color: #ffffff;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    display: block;
    float: left;
}
.page .main_menu a {
    color: #894c08;
}
.news{
    position: relative;
    float: left;
    margin-top: 20px;
    width: 87%;
}
#info.news {
    width: 100%;
}
.news h2{
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
}
.page .news h2 {
    color: #333333;
}
.news ul li{
    list-style: none;
    margin-top: 20px;
    margin-left: 25px;
}
.news a{
    color: #1876bb;
}
#info.news .column {
    height: auto;
}

#info.news .column ul{
    margin-bottom: 10px;
}

#info.news .column ul li{
    list-style: circle;
}

.page .content h2 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 25px;
    color: #281655;
    line-height: 36px;
}
.page #info {
    padding-left: 10px;
}
.map {
    background: url("../imagefs/bishkek.html");
    background-repeat: no-repeat;
    position: absolute;
    margin: 0 auto;
    width: 1074px;
    height: 357px;
    z-index: -1;
}
.column {
    width: 285px;
    float: left;
    margin-bottom: 30px;
}
.page .column {
    height: 288px;
    margin-top: 30px;
    margin-right: 28px;
}
.page .column.news_item {
    width: 100%;
}
.page .column.news_item p {
    font-style: normal;
}

/* building page previews */

.column-caption-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 288px;
}
.column-caption-box a {display: block; width: 100%; height: 288px;}
.column-caption-box a img {
    max-width: 100%;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.column-caption {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    z-index: 100;
    position: relative;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    top: 0;
}
.column-caption-box .scale-caption {
    opacity: 0;
    position: relative;
    top: -88px;
    max-height: 88px;
    text-align: left;
    padding: 15px;
}
.column-caption-box .scale-caption p {
    position: relative;
    left: -400px;
    width: 250px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.column-caption-box .scale-caption p a {
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
}
.column-caption-box .scale-caption p {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    transition-delay: 100ms;
}
.column-caption-box:hover .scale-caption {
    opacity: 1;
}
.column-caption-box:hover a img {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.column-caption-box:hover .scale-caption p {
    -moz-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
}



.column-img{
    height: 98px;
    border-bottom: 1px solid #eeeeef;
    margin-bottom: 10px;
}

.column p{
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    color: #d9d9d9;
    line-height: 1.4em;
    margin-right: 20px;
    white-space: normal;
}
.page .column p {
    color: #333333;
}
.column a{
    font-size: 14px;
    color: #1876bb;
}

#column-1{
    background: url("../images/info-building-1.png") left bottom no-repeat;

}

#column-2{
    background: url("../images/info-building-2.png") left bottom no-repeat;

}

#column-3{
    background: url("../images/info-building-3.png") left bottom no-repeat;
}

#info h5{
    font-size: 16px;
    color: #e9a457;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 22px;
}
.page #info h5 {
    color: #894c08;
}

.column span{
    font-size: 14px;
    color: #e9a457;
    font-style: italic;
}
.page .column span {
    color: #894c08;
}

.column.labels p{
    color: #d9d9d9;
    font-style: normal;
    font-size: 14px;
}

.column.labels.cl_spec p {
    margin-bottom: 0;
}

#info{
    margin-bottom: 40px;
}
.page #info {
    margin-bottom: 80px;
}
.object-mark{
    display: inline-block;
    position: absolute;
    background: url("../images/map/marker.png") no-repeat;
    width: 32px;
    height: 50px;
    text-indent: -9999px;
    z-index: 100;
}
#buildings {
    float: left;
    position: relative;

}
#buildings-list{
    position: absolute;
    top: -50px;
    right: 220px;
}

/*#filter{
    position: absolute;
    top: -70px;
    right: 0;
    width: 280px;
    height: 260px;
    background: url("../images/map/filter-bg.png") 0 0 no-repeat;
    padding: 15px 30px;
}

#filter h3{
    font-size: 18px;
    font-weight: normal;
}

#filter label{
    color: #e6da9e;
    font-size: 12px;
    font-weight: bold;
}

#filter label{
    display: inline-block;
    padding: 3px 0;
}

#filter ul li{
    float: left;
    width: 120px;
}
*/


#filter{

    z-index: 100;
}

.bullet{
    display: block;
    width: 18px;
    height: 17px;
    float: left;
    margin: 11px 0 0 14px;
}

#filter.open .bullet{
    background: url("../images/up.png");
}

#filter.close .bullet{
    background: url("../images/down.png");
}


#filter.close #filter-content{
    display: none;
}

#filter-header{
    width: 343px;
    height: 40px;

}
#filter.close #filter-header{
    background: url("../images/filter-header.png") no-repeat;
}
#filter.open #filter-header {
    background-image: none;
}

.content #filter-header h2{
    font-family: "Myriad Pro";
    font-size: 18px;
    float: left;
    margin: 6px 0 0 9px;
    font-weight: normal;
    cursor: pointer;
}



#filter-content{
    width: 313px;
    height: 260px;
    margin-top: -40px;
    background: url("../images/filter-content.png") no-repeat;
    padding: 40px 0 0 29px;
}

#filter-content a{
    margin-top: 30px;
    display: block;
}

#filter-content label{
    font-family: "Myriad Pro";
    font-size: 14px;
    color: #e9a457;
    font-style: normal;
    margin-bottom: 5px;
    display: block;
}

#checkbox{
    margin-bottom: 17px;
}

#checkbox ul li{
    float: left;
}

#checkbox input{
    vertical-align: middle;
}

#checkbox label{
    font-family: "Myriad Pro";
    font-size: 14px;
    color: #dbdad9;
    margin: 0 16px 0 8px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 77px;
}


.left-sl{
    width: 130px;
    height: 43px;
    float: left;

}


.circle{
    background: url("../images/circle.png") no-repeat;
    width: 9px;
    height: 8px;
    position: absolute;
    right: 0;
    bottom: -4px;

}

.carousel-caption{
    border-bottom: 1px solid #ffffff;
}

#footer-menu{
    margin-left: 330px;
}


#footer-menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 34px;
}

#footer-menu ul li a{
    color: #1876bb;
}

#copyright{
    color: #777777;
    font-size: 11px;
    margin-left: 319px;
    margin-top: 45px;
}


#inform{
    margin-left: 330px;
    margin-top: 14px;
}

#inform ul li{
    margin-bottom: 11px;
}

#inform a{
    color: #1876bb;
    font-size: 11px;

}
.building-info1 {
    width: 920px;
    display: block;
    float: left;
    background: url("../images/page-content-bg.png") right bottom no-repeat;
    height: 614px;
    padding-left: 10px;
    border-bottom: 1px solid #7a703c;
    position: relative;
}
.building-info1 h2 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 25px;
    color: #281655;
}
.description{
    color: #333333;
    font-style: italic;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 18px;
    width: 530px;
    line-height: 1.2em;
}
.span-left {
    padding-right: 30px;
}
.span-left:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    top: 10px;
    right: 0;
    border-top: 1px solid #333333;
}
.span-right {
    padding-left: 40px;
}
.span-right:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    top: 50%;
    left: -3%;
    border-top: 1px solid #333333;
}

.building-info2{
    width: 920px;
    float: left;
    margin-bottom: 80px;
}

.building-info2-text{
    width: 333px;
    float: left;
    padding-top: 57px;

}

.building-info2-text p{
    color: #333333;
    font-size: 14px;
    margin-bottom: 26px;
    margin-left: 20px;

}

.building-info2-pic{
    width: 243px;
    height: 534px;
    float: left;


}

.building-info2-pic h2{
    color: #281655;
    font-size: 18px;
    font-weight: normal;
    margin-left: 33px;
    margin-top: 49px;
    margin-bottom: 18px;
}

.building-info2-pic ul{
    height: 380px;
    overflow: hidden;

}


.building-info2-pic ul li{
    margin-left: 0;
    margin-bottom: 9px;

}

.move-up{
    width: 243px;
    margin-left: 84px;
    margin-bottom: 9px;
    display: inline-block;
}

.move-down{
    width: 243px;
    margin-top: 5px;
    margin-left: 84px;
    display: inline-block;
}

.building-info2-link{
    width: 338px;
    float: right;
    padding-top: 47px;

}

.building-info2-link ul li{
    margin-bottom: 10px;
}

.building-info2-link ul li a{
    font-size: 16px;
    color: #1876bb;
    text-decoration: none;
    border-bottom: 1px solid #1876bb;
}

.building-info2-link ul li a.active{
    font-size: 16px;
    color: #1876bb;
    text-decoration: none;
    border-bottom: 1px dotted #1876bb;
}
.building-options{
    float: right;
    width: 338px;
    margin-top: 40px;
}

.building-options h2{
    color: #281655;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 8px;
    padding-left: 2px;
    margin-bottom: 10px;

    border-bottom: 1px solid #e3d89a;
}

#line{
    color: #e3d89a;
    height: 1px;
    width: 920px;
    background-color: #e3d89a;
    border: none;
    margin: 0;
}

.line-dotted{
    width: 920px;
    border: 0;
    border-bottom: 1px dotted #3d3d3d;
    margin: 0;
}

.building-options ul li{
    list-style: none;
    color: #333333;
    font-size: 14px;
    padding: 13px 0 12px 20px;
    border-bottom: 1px dotted #3d3d3d;
    width: 94%;
    float: left;
}

.building-options ul li.last{
    border: none;
}
.google-map {
    position: relative;
    display: none;
    margin-bottom: 20px;
}
.google-map-visible {
    display: block;
}

.history-item{
    margin-top: 15px;
}

.building-history{
    cursor: pointer;
}

.page #info.news.news_obj {
  margin-top: 0;
  margin-bottom: 0;
}
.nav-pills > li {
  float: left;
	display: block;
	width: 150px;
}
.nav-tabs > li > a {

}
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs > li,
.nav-pills > li {
	padding-top: 5px;
  padding-right: 12px;
	padding-bottom: 5px;
  padding-left: 12px;
  margin-top: 0;
  margin-right: 2px;
  line-height: 14px;
	display: block;
}
.nav-pills > li.active,
.nav-pills > li.active:hover,
.nav-pills > li.active:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #ffffff;
  background-color: #002489;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* room_parameters */
.room_parameters {
    font-weight: bold;
    display: block;
    float: left;
    width: 120px;
    height: 25px;
    padding-top: 2px;
    border-bottom: 1px dotted #ececec;
}
.room_parameters_value {
    font-weight: normal;
    display: block;
    float: right;
    width: 105px;
    height: 25px;
    padding-top: 2px;
    border-bottom: 1px dotted #ececec;
}
.building-options .room_parameters_value {
    width: 125px;
}
.room_parameters_last, .room_parameters_value_last, .building-options .room_parameters,
.building-options .room_parameters_value {
    border-bottom: 0 solid white;
}
.building-options .room_parameters {
    width: 180px;
}

.progress-items, .progress-years, .progress-months{
    margin: 15px 0 0;
}

.progress-items ul li, .progress-years ul li, .progress-months ul li{
    display: inline-block;
    margin-right: 10px;
}

.progress-items ul li a.active, .progress-years ul li a.active, .progress-months ul li a.active{
    text-decoration: none;
    color: #281655;
}

.year{
    display: none;
}

.year.active{
    display: block;
}

.progress-preview{
    height: 120px;
    width: 936px;
    overflow: hidden;
    padding: 10px 0;
}

.progress-preview .images-container{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.progress-preview .images-container img{
    max-height: 98px;
    border: 1px solid #281655;
}

.progress-preview .images-container a.active img{
    border: 1px solid #281644;
}

.progress-preview ul li{
    display: inline-block;
}

.progress-slider{
    margin: 20px auto;
    width: 655px;
    overflow: hidden;
}

.progress-slider .jcarousel-clip{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.progress-slider .arrow{
    cursor: pointer;
    width: 25px;
    height: 46px;
    z-index: 80;
    cursor: pointer;
}
.progress-slider .arrow.jcarousel-prev-disabled{
    background-color: #ccc transparent;
		opacity: 0.6;
		-moz-opacity: 0.6;		
		-khtml-opacity: 0.6;
}

.progress-slider .prev{
    position: absolute;
    top: 200px;
    left: 0;
    background: url(../images/arrows_sprite.png) 0 0 no-repeat;

}

.progress-slider .next{
    position: absolute;
    top: 200px;
    right: 0;
    background: url(../images/arrows_sprite.png) -25px 0 no-repeat;

}
.jcarousel-item.jcarousel-item-horizontal {
	text-align: center;
}
.progress-slider img{
    /*max-height: 600px;*/
		max-width: 100%;
}

.progress-slider .jcarousel-container-horizontal {
    overflow: hidden;
    padding: 0;
    zoom: 1;
}

.social-icons a{
    background: url('../images/social/icons-sprite.png') no-repeat 0 0 ;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.social-icons a.facebook{
    background-position: 0px 0;
}

.social-icons a.twitter{
    background-position: -31px 0;
}

.social-icons a.vk{
    background-position: -124px 0;
}

.social-icons a.ok{
    background-position: -93px 0;
}
.counter {
	position: relative;
	display: block;
	width: 88px;
	margin: 0 auto;
	opacity: 0.5;
		-moz-opacity: 0.5;		
		-khtml-opacity: 0.5;
}
.net_kg {
	display: block;
	width: 21px;
	margin: 0 auto;
}
.center {
  position: relative;
  width: 90%;
  float: left;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.hymn_audio{
	display: block;
	position: absolute;
	left: -357px;
}