<div class="container ">
    <div class="col-xl-12 col-lg-12 col-md-12 installment_back">
        <div class="col-xl-5 col-lg-6 col-md-12">
            <div class="form_installment">
                <h5>Бартирге квартира</h5>
                <p>Курулуш бутконго чейин KG ГРУППтан пайызы жок тез жана ашыкча эмес болуп толоо тартибин аласыз!</p>
                <p class="header_int">Имарттардын баасы сом</p>
                <p class="installment_price_new"><input type="text" id="stoimost" value="" placeholder="Введите сумму"></p>
                <ul class="filter_int">

                    <li class="installment_price">
                        <p>Биринчи төлөм (%)</p>
                        <input type="text" id="pervo" value="" placeholder="30%">
                    </li>
                    <li class="installment_price">
                        <p>Бир айдык төлөм.</p>
                        <input type="text" id="srok" value="" placeholder="24 мес">
                    </li>
                </ul>
                <input type="submit"  value="Төлөнүн графагин эсептеп чыгуу" onclick="raschitat();">

                <div id="ploschad"></div>
            </div>

        </div>
    </div>
</div>