<div class="container">
    <h4>Байланышта болуңуз</h4>
    <p>Сиз бизден маалымат алуу учун заявка формасын толтунуз! </p>
</div>
<div class="container">
    <div class="row">
        <form action="http://176.123.246.245/staticfiles/templates/send.php" method="post" class="phone_form">
            <ul class="callback_spisok">
                <li><input type="text" name="user_object" placeholder="Квартира сатып алуу"></li>
                <li><input type="text" name="user_name" placeholder="Атынызды жаныныз?"></li>
                <li><input type="tel" name="user_phone" required placeholder="Сизге кантип байланышабыз?" id="user_phone"
                        class="user-phone" title="Формат: +996 (999) 99-99-99" />
            </ul>
            <input type="submit" name="submit" value="Суроо жонотуу">
        </form>
    </div>
</div>