<div class="container">
    <h4>Поиск объектов</h4>
    <ul class="filter">
        <li class="apartment_price">
            <p>Стоимость квартиры от (сом)</p>
            <input type="text" placeholder="1 450 000 ">
        </li>
        <li class="before_price">
            <p>До</p>
            <input type="text" placeholder="3 000 000">
        </li>
        <li class="number_of_rooms">
            <p>Кол-во комнат</p>
            <select>
                <option>3</option>
                <option>1</option>
            </select>
        </li>
        <li class="raion">
            <p>Район</p>
            <select>
                <option>мкр Джал</option>
                <option>мкр Джал</option>
            </select>
        </li>
        <li class="status">
            <p>Выберите статус</p>
            <select>
                <option>Готовые объекты</option>
                <option>Готовые объекты</option>
            </select>
        </li>
        <li class="result"><input type="submit" value="Показать результаты"></li>
    </ul>
</div>